.about-container {
  width: 100%;
  margin: 0px;
  border: 0px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.about-logo {

}

.about-text {

}

@media only screen and (max-width: 600px) {
  
}

@media only screen and (max-width: 330px) {
  
}