.chris-cont {
  width: 100%;
  display: flex; 
  flex-direction: row;
  padding: 5px;
  justify-content: space-between;
}

.email-link {
  text-decoration: none;
  color: #739F9F;
}

.email-text {
  color: #545453;
  margin-top: 10px;
}

.chris-left {
  width: 50%;
  padding-right: 5px;
}

.chris-right {
  width: 45%;
  padding-right: 10px;
}

.chris-img {
  max-width: 100%;
  margin-top: 10%;
  content: url('/images/chris-portrait.jpg');
}

.chris-sec-header {
  letter-spacing: 0.5px;
  font-size: 20px;
  margin-bottom: 5px;
  color: #AAA6AD;
  margin-right: 5%;
}

.chris-text {
  font-size: 18px;
  color: #545453;
  margin-right: 5%;
}

.chris-header {
  font-size: 22px;
  letter-spacing: 0.75px;
  width: 100%;
  text-align: left;
  margin-right: 5%;
}


@media (max-width: 900px) {
  .chris-cont {
    width: 90%;
    display: flex; 
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 10px;
  }
  
  .chris-left {
    width: 100%;
    padding-right: 2%;
    align-self: center;
  }
  
  .chris-right {
    width: 95%;
    padding-right: 5px;
    align-self: flex-start;
  }
  
  .chris-img {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    content: url('/images/chris-landscape.jpg');
  }
  
  .chris-sec-header {
    letter-spacing: 0.5px;
    font-size: 20px;
    margin-bottom: 5px;
    color: #AAA6AD;
    text-align: left;
  }
  
  .chris-text {
    font-size: 18px;
    color: #545453;
    text-align: left;
    margin-right: 0px;
  }
  
  .chris-header {
    font-size: 22px;
    letter-spacing: 0.75px;
    width: 100%;
    text-align: left;
    margin-left: 0%;
  }
}

@media (max-width: 450px) {
  .chris-cont {
    width: 90%;
    display: flex; 
    flex-direction: column;
    padding: 0px;
    justify-content: center;
    align-self: center
  }
  
  .chris-left {
    width: 95%;
    padding-right: 0px;
    align-self: center
  }
  
  .chris-right {
    width: 95%;
    padding: 0px;
    align-self: center
    
  }
  
  .chris-img {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    content: url('/images/chris-landscape.jpg');
  }
  
  .chris-sec-header {
    letter-spacing: 0.5px;
    font-size: 14px;
    margin-bottom: 5px;
    color: #AAA6AD;
  }
  
  .chris-text {
    font-size: 12px;
    color: #545453;
  }
  
  .chris-header {
    font-size: 16px;
    letter-spacing: 0.75px;
    width: 100%;
    text-align: left;
  }
}