.det-header-container {
  width: 100%;
  height: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  z-index: 10;
  position: relative;
}

.det-logo-image-cont {
 width: 15%;
 height: 100%;
}

.det-logo-image {
  width: 100%;
 }

.det-header-link {
  font-size: 1.2rem;
  text-decoration: none;
  border-bottom: none;
}

@media only screen and (max-width: 750px) {
  .det-header-link {
    font-size: 1.5rem;
    text-decoration: none;
    border-bottom: none;
  }
}

@media only screen and (max-width: 650px) {
  .det-header-link {
    font-size: 1.2rem;
    text-decoration: none;
    border-bottom: none;
  }
}

@media only screen and (max-width: 550px) {
  .det-header-link {
    font-size: 1rem;
    text-decoration: none;
    border-bottom: none;
  }
}

@media only screen and (max-width: 450px) {
  .det-header-link {
    font-size: 0.8rem;
    text-decoration: none;
    border-bottom: none;
  }
}