.team-header {
  margin-top: 20px;
  font-size: 22px;
  letter-spacing: 0.75px;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.team-cont {
  display:flex;
  flex-direction: column;
  margin-bottom: 10px;
}